.top-nav-bar .nav-item .active {
  border-bottom: solid 3px blue;
  background-color: #f8f9fa;
}

.underlined {
  display: block;
  font-size: 10px;
  text-align: right;
  font-style: italic;
  color: rgb(107, 107, 107);
}